
{% extends 'base_app1.html' %}

{% block content %}
<div class="view_image">
    <img src="{{ images.pic.url }}">

    <div class="like_image">
        {% include 'images/like_images.html' %}
    </div>
    <div class="detail_image">
        <div class="name_image">
            name image : <span class="text_name_image">{{ images.name_picture}}</span>
        </div>
        <div class="description_image">
            Description : <span class="description_image">{{ images.description_picture}}</span>
        </div>
    </div>
    <div class="textbox_comment_imgae">
        {% include 'images/comment_images.html' %}
    </div>
</div>

{% endblock %}