{% extends 'base_app1.html' %}

{% block content %}
<form action="{% url 'app1:upload_images' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <select name="id_album">
        <option value="dfsdf">dfsdfsdf</option>
        <option value="dfsdf">dfsdfsdf</option>
        <option value="dfsdf">dfsdfsdf</option>
        <option value="dfsdf">dfsdfsdf</option>
    </select>
    <input type="submit" value="upload">
</form>
<!--{% for img in images %}-->
<!--{{forloop.counter}}.<a href="{{ img.pic.url }}">{{ img.pic.name }}</a>-->
<!--({{img.upload_date}})-->

{% endfor %}
{% endblock %}